{{#partial "body"}}
    <div>
        <h1 class="text-center">Who Are We</h1>
        <div class="container">
            <p class="text-justify">
                Poor-quality education is holding back South Africa's education system.
                About 30% of the country's students are from rural areas and do not know anything about technology,
                while 20% of those from privileged communities have insufficient content knowledge levels.
                HALF of all South African pupils who have attended school for five years
                can't do basics on a computer.
                In 2030 South Africa aims to give evey child to have education of the highest quality,
                giving them life-changing skills and knowledge.

                And we as Siyafunda also wants to contribute to this goal by introducing a
                platform that equips children from a very young age with basic tech skills.

            <h4>We aim to provide: </h4>
                <ul>
                <li>
                    High-quality, universal early childhood education
                </li>
                <li>
                    An expanding higher-education sector that boosts incomes and productivity,
                    and shifts South Africa towards a knowledge-based economy
                </li>
                <li>
                    A wider system of innovation that links universities, science councils
                    and independent research and development institutions with priority areas of the economy
                </li>
                </ul>

                <h4>And the following will be achieved: </h4>
                <ul>
                    <li>
                        A better educated population that will boost economic growth
                    </li>
                    <li>
                        An economy that has space for more jobs, and has lifted more people out of poverty
                    </li>
                    <li>
                        Equality in education that will level out income inequality.
                    </li>
                </ul>






            </p>


        </div>





    </div>
{{/partial}}
{{> layout.hbs}}