{{#partial "body"}}
    <div>
        <h1>Contact Us</h1>
        <form>
            <div class="form-group">
                <p style="font-style:italic">
                    We're always looking forward to hearing from you, if you have any queries simply
                    contact us via one of the following handlers
                </p>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text" style="color:black">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="name" class="form-control" id="exampleInputname1" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"> Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}