{{#partial "body"}}

    <form action="/level" method="post" >

    <div>
        <h1>Choose Your Level:</h1> <br></br>
        <div>
            <input type="submit" id="junior" name="level" class="btn btn-outline-dark btn-lg btn-block" value="Junior"> <br>
            <input type="submit" id="intermediate" name="level" class="btn btn-outline-dark btn-lg btn-block" value="Intermediate"> <br>
            <input type="submit" id="senior" name="level" class="btn btn-outline-dark btn-lg btn-block" value="Senior"> <br>

        </div>
    </div>
    </form>

{{/partial}}

{{> layout.hbs}}