{{#partial "body"}}
    <div>
        <h2>Meet Our Team:</h2>

        <div class="teamPic">
            <img src="images/ourTeam.jpg"  alt="ourTeam" width="500px">
        </div>

        <div class="text-justify" >
            <div>
                <h4> Cwerhelihle Kula</h4>
                <p>
                    <h5>Chief Executive Officer & Founder</h5>
                    Cwerha is passionate about providing high quality education
                    that enables young people to bring innovative ideas to life
                    and play an active role in South Africa’s economy
                </p>
            </div>

            <div>
                <h4>Vaztonyo De Wet </h4>
                    <p>
                        <h5>Operations Lead</h5>
                        Vaz thrives on seeing key players in the Siyafunda ecosystem by discovering
                        how they can make the greatest impact.
                        When he is not co-ordinating the Siyafunda family he can be found
                        enjoying the diverse cuisine and great outdoors that Cape Town has to offer.
                    </p>
            </div>

            <div>

                <div>
                    <h4>Minenhle Ngwenya </h4>
                    <p>
                        <h5>Program Lead</h5>
                        Minenhle heads up the high school program. He is spurred on by a heart for
                        people and seeing them pursue their potential in a safe, fun and nurturing
                        environment. He has experience working
                        with youth in various formats and found himself in the tech industry
                        quite by mistake, but with no regrets.
                    </p>
                </div>

                <div>
                    <h4>Ziyanda Ndlamafa </h4>
                    <p>
                        <h5>Program Coordinator</h5>
                        Ziyanda joined the Siyafunda program in 2015
                        and then matriculated from Rustenburg Girls’ High in 2016.
                        She decided to intern with Siyafunda to give back to
                        an organisation that had a large impact on her personal growth and development.
                    </p>
                </div>



        </div>


    </div>
{{/partial}}

{{> layout.hbs}}