{{#partial "body"}}
    <div>
<!--        <h1>Team:</h1>-->
<!--        <div class="card" style="width:400px">-->
<!--            <img class="card-img-top" src="https://mail.google.com/mail/u/0?ui=2&ik=7d637dc4e5&attid=0.2&permmsgid=msg-f:1652626569492878913&th=16ef4f1be4fed641&view=att&disp=safe&realattid=16ef4f117bfb9a0995a1" alt="Team">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">The Siyafunda Team</h4>-->
<!--                <p class="card-text">-->
<!--                    Some example text.-->
<!--                </p>-->
<!--&lt;!&ndash;                <a href="#" class="btn btn-primary">See Profile</a>&ndash;&gt;-->
<!--            </div>-->

            <img src="https://mail.google.com/mail/u/0?ui=2&ik=7d637dc4e5&attid=0.2&permmsgid=msg-f:1652626569492878913&th=16ef4f1be4fed641&view=att&disp=safe&realattid=16ef4f117bfb9a0995a1"
                 alt="Team" class="rounded" alt="Cinque Terre" style="width:400px;" class="rounded mx-auto d-block">
        </div>





    </div>
{{/partial}}

{{> layout.hbs}}