{{#partial "body"}}
    <div>
        <h1>Team:</h1>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="images/team/IMG_20191211_142901.jpg" alt="Cwerha">
            <div class="card-body">
                <h4 class="card-title">Cwerha Kula</h4>
                <p class="card-text">
                    Some example text.
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>





    </div>
{{/partial}}

{{> layout.hbs}}